<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="{% static 'base/edit_patient.css' %}">
</head>
<body>
    <h2>Edit Patient</h2>
    <form method="POST" >
        {% csrf_token %}
        <label for="room_number">Room Number:</label>
        <input type="text" id="room_number" name="room_number" value="{{ room.Room_Number }}" required><br>
        
        <label for="room_type">Room Type:</label>
        <input type="text" id="room_type" name="room_type" value="{{ room.Room_Type }}" required><br>
        
        <label for="Room_Price">Room Price:</label>
        <input type="text" id="Room_Price" name="Room_Price" value="{{ room.Room_Price }}" required><br>
        
        <button type="submit">Update</button>
    </form>
</body>
</html>
