<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Treatment</title>
    <link rel="stylesheet" href="{% static 'base/add.css' %}">
</head>
<body>
    <h2>Add Treatment</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="room_number">Disease:</label>
        <input type="text" id="room_number" name="Disease" placeholder="Disease.." required><br>

        <label for="room_number">Procedure:</label>
        <input type="text" id="room_number" name="Procedure" placeholder="Procedure.." required><br>
        
        <input type="submit" value="Add Treatment">
    </form>
</body>
</html>
