<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Treatment Information</title>
    <link rel="stylesheet" href="{% static 'base/project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h2>Treatments info </h2>
    <form method="GET" class="search-container-info">
        {% csrf_token %}
        <input type="text" placeholder="Search for information..." id="q" name='q'>
        <button type="submit">Search <i class="fa fa-search"></i></button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Procedure</th>
                <th>Disease</th>
                <th>Appointment</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for treatment in treatments %}
                <tr>
                    <td> {{ treatment.Treatment_ID }} </td>
                    <td> {{ treatment.Procedure }}</td>
                    <td> {{ treatment.Disease }}</td>
                    <td> {{ treatment.Appointment_ID}}</td>
                    <td class="action-icons">
                        <a href="{% url 'remove_treatment' treatment.Treatment_ID %}">
                            <i class="fas fa-trash delete-icon"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
