<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
    <link rel="stylesheet" href="{% static 'base/add.css' %}">
</head>
<body>

    <h2>Add Doctor</h2>
    <form  method="POST">
        {% csrf_token %}
        <label for="doctor_name">Doctor's Name:</label>
        <input type="text" id="doctor_name" name="doctor_name" required><br>
        
        <div>
            <label for="Specialization">Specialization</label>
            <input type="text" id="list" name="doctor_specialization" list="specialization-list" value="{{doctor.Specialization}}" required/><br>
            <datalist id="specialization-list">
                <select id="specialization" name="specialization"required >
                    {% for specialization in specializations %}
                    <option value="{{ specialization }}">{{ specialization }}</option>
                    {% endfor %}
                </select><br>
            </datalist>
        </div>

        <label for="Phone_Number">Mobile Number:</label>
        <input type="text" id="mobile_number" name="Phone_Number"><br><br>

        <label for="Appointment_Price">Appointment Price</label>
        <input type="text" id="mobile_number" name="Appointment_Price"><br><br>

        <input type="submit" value="Add Doctor">
    </form>
</body>
</html>
