<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctors Information</title>
    <link rel="stylesheet" href="{% static 'base/project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h2>Doctors Information</h2>
    <form method="GET" class="search-container-info">
        {% csrf_token %}
        <input type="text" placeholder="Search for doctors..." id="q" name='q'>
        <button type="submit">Search <i class="fa fa-search"></i></button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Specialization</th>
                <th>Mobile Number</th>
                <th>Appointment Price</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.Doctor_ID }}</td>
                <td>{{ doctor.Name }}</td>
                <td>{{ doctor.Specialization }}</td>
                <td>{{ doctor.Phone_Number }}</td>
                <td>{{ doctor.Appointment_Price }}</td>

                <td class="action-icons">
                    <a href="{% url 'remove_doctor' doctor.Doctor_ID %}">
                        <i class="fas fa-trash delete-icon"></i>
                    </a>
                    <a href="{% url 'edit_doctor' doctor.Doctor_ID %}">
                        <i class="fas fa-edit edit-icon"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Plus sign icon positioned at the bottom right corner of the page -->
    <div class="add-info">
        <a href="{% url 'add_doctor' %}">
            <i class="fas fa-plus-circle plus-icon"></i>
        </a>
    </div>
</body>
</html>
