<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Doctor</title>
    <link rel="stylesheet" href="{% static 'base/edit_doctor.css' %}">
</head>
<body>
    <h2>Edit Doctor</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ doctor.Name }}">
        </div>
        <div>
            <label for="doctor_specialization">Specialization</label>
            <input type="text" id="doctor_specialization" name="doctor_specialization" list="specialization-list" value="{{ doctor.Specialization }}" required/><br>
            <datalist id="specialization-list">
                {% for specialization in specializations %}
                    <option value="{{ specialization }}">{{ specialization }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div>
            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" value="{{ doctor.Phone_Number }}">
        </div>
        <div>
            <label for="Appointment_Price">Appointment Price</label>
            <input type="text" id="Appointment_Price" name="Appointment_Price" value="{{ doctor.Appointment_Price }}">
        </div>
        <button type="submit">Update</button>
    </form>
</body>
</html>
