<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
    <link rel="stylesheet" href="{% static 'base/add.css' %}">
</head>
<body>
    <h2>Add Room</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="room_number">Room Number:</label>
        <input type="text" id="room_number" name="room_number" placeholder="Enter room number" required><br>
        
        <label for="room_type">Room Type:</label>
        <input type="text" id="room_type" name="room_type" placeholder="Enter room type" required><br>
        
        <label for="availability">Availability:</label>
        <select id="availability" name="availability" style="margin-bottom: 20px;" required>
            <option value="True">Available</option>
            <option value="False">Not Available</option>
        </select><br>

        <input type="submit" value="Add Room">
    </form>
</body>
</html>
