<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="{% static 'base/edit_patient.css' %}">
</head>
<body>
    <h2>Edit Patient</h2>
    <form method="POST" >
        {% csrf_token %}
        <div>
            <label for="fullname">Full Name:</label>
            <input type="text" id="fullname" name="fullname" value="{{ patient.FullName }}">
        </div>
        
        <div>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" value="{{patient.DOB|date:"Y-m-d" }}">
        </div>
        <div>
            <label for="gender">Gender:</label>
            <input type="text" id="list" name="patient_gender" value="{{ patient.Gender }}" list="gender-list" required/><br>
            <datalist id="gender-list">
                <select id="gender" name="gender"required >
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select><br>
            </datalist>
        </div>
        <div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" value="{{ patient.Address }}">
        </div>
        <button type="submit">Update</button>
    </form>
</body>
</html>
