<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    </head>
<body>
    <div class="d1" style=" width: 100%; height: 100%; position: relative; background: #5b8fd3" >
        <div class="d2" style="width: 255px; height:157px; left:300px; top:90px; position:absolute" >
            <div class="d3" style="width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px" ></div>
            <div class="d4" style="left: 78px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word;" >Patient</div>
            <img style="width: 90px; height: 77.28px; left: 82px; top: 22px; position: absolute" src="{% static 'base/images/image 13.png' %}" />
        </div>

        <div class="d5"  style=" width: 255px; height: 157px; left: 300px; top: 302px; position: absolute">
            <div class="d6"  style=" width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px"></div>
            <div class="d7" style="left: 49px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word" >Admissions</div>
            <img style="width: 80px; height: 80px; left: 88px; top: 23px; position: absolute" src="{% static 'base/images/Doctor.png' %}" />
        </div>

        <div class="d8" style="width: 255px; height: 157px; left: 1155px; top: 90px; position: absolute" >
            <div class="d9" style="width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px" ></div>
            <div class="d10" style="left: 56px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Treatment</div>
            <img style="width: 80px; height: 80px; left: 88px; top: 26px; position: absolute" src="{% static 'base/images/Appointment.png' %}" />
        </div>

        <div style="width: 255px; height: 157px; left: 1155px; top: 302px; position: absolute">
            <div style="width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px"></div>
            <div style="left: 58px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Employee</div>
            <img style="width: 80px; height: 80px; left: 88px; top: 23px; position: absolute" src="{% static 'base/images/Doctor.png' %}" />
        </div>

        <div style="width: 255px; height: 157px; left: 870px; top: 90px; position: absolute">
            <div style="width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px"></div>
            <div style="left: 36px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Appointment</div>
            <img style="width: 80px; height: 80px; left: 88px; top: 26px; position: absolute" src="{% static 'base/images/Admissions.png' %}" />
        </div>

        <div style="width: 255px; height: 157px; left: 870px; top: 302px; position: absolute">
            <div style="width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px"></div>
            <div style="left: 47px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Bills</div>
            <img style="width: 80px; height: 80px; left: 95px; top: 23px; position: absolute" src="{% static 'base/images/Stay Details.png' %}" />
        </div>

        <div style="width: 255px; height: 157px; left: 585px; top: 90px; position: absolute">
            <div style="width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px"></div>
            <div style="left: 81px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Doctor</div>
            <img style="width: 90px; height: 90px; left: 81px; top: 16px; position: absolute" src="{% static 'base/images/Doctor.png' %}" />
        </div>

        <div style="width: 255px; height: 157px; left: 585px; top: 302px; position: absolute">
            <div style="width: 255px; height: 157px; left: 0px; top: 0px; position: absolute; background: #5b8fd3; border-radius: 8px"></div>
            <div style="left: 87px; top: 109px; position: absolute; color: rgb(255, 255, 255); font-size: 26px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Room</div>
            <img style="width: 80px; height: 80px; left: 88px; top: 23px; position: absolute" src="{% static 'base/images/Room.png' %}" />
        </div>

        <div style="width: 270px; height: 900px; left: 0px; top: 0px; position: absolute">
            <div style="width: 270px; height: 900px; left: 0px; top: 0px; position: absolute; background: #5b8fd3"></div>
            <div style="width: 193px; height: 506px; left: 44px; top: 319px; position: absolute">
                
                <img style="width: 21px; height: 21px; left: 41px; top: 367px; position: absolute" src="{% static 'base/images/Appointment.png' %}" />
                <img style="width: 21px; height: 21px; left: 40px; top: 306px; position: absolute" src="{% static 'base/images/Admissions.png' %}" />
                <img style="width: 21px; height: 21px; left: 40px; top: 426px; position: absolute" src="{% static 'base/images/Stay Details.png' %}" />
                <img style="width: 19px; height: 19px; left: 40px; top: 248px; position: absolute" src="{% static 'base/images/Treatment.png' %}" />
                <img style="width: 18px; height: 18px; left: 40px; top: 191px; position: absolute" src="{% static 'base/images/Appointment.png' %}" />
                <img style="width: 19px; height: 19px; left: 40px; top: 128px; position: absolute" src="{% static 'base/images/Doctor.png' %}" />
            <img style="width: 20px; height: 17.17px; left: 38px; top: 72px; position: absolute" src="  {% static 'base/images/image 13.png' %}" />
                
            <div style="left: 73px; top: 308px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'admission' %}" style="text-decoration: none;color: black;">Admissions</a></div>
            <div style="left: 73px; top: 190px; position: absolute; color: rgb(0, 0, 0); font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'appointment' %}" style="text-decoration: none;color: black;">Appointment</a></div>
            <div style="left: 73px; top: 249px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'treatment' %}" style="text-decoration: none;color: black;"> Treatment</a></div>
            <div style="left: 73px; top: 308px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'admission' %}" style="text-decoration: none;color: black;">Admissions</a></div>
            <div style="left: 73px; top: 367px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'room' %}" style="text-decoration: none;color: black;">Room</a></div>
            <div style="left: 73px; top: 426px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'employee' %}" style="text-decoration: none;color: black;"> Employee </a></div>
            <div style="left: 75px; top: 131px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'doctors' %}" style="text-decoration: none;color: black;">Doctor</a></div>
            <div style="left: 75px; top: 72px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'patient' %}" style="text-decoration: none;color: black;">Patient</a></div>
            <div style="left: 75px; top: 11px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"><a href="{% url 'start' %}" style="text-decoration: none;color: black;"> Home</a></div>
            
                <div  style="width: 19px; height: 17px; left: 41px; top: 11px; position: absolute">
                    <img src="{% static 'base/images/Vector.png' %}"  style="width: 19px; height: 17px; left: 0px; top: -0px; position: absolute; "></img>
                </div>
            </div>
            <div style="width: 211.50px; height: 24px; left: 25px; top: 18px; position: absolute">
                <div style="left: 12.50px; top: 0px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Hospital Data Base</div>
                <div style="width: 23px; height: 0px; left: 0px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 4px #00277c solid"></div>
            </div>
            <div style="width: 128px; height: 169px; left: 71px; top: 96px; position: absolute">
                <div style="left: 26px; top: 148px; position: absolute; color: black; font-size: 17px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Sections</div>
                <div style="width: 128px; height: 128px; left: 0px; top: 0px; position: absolute; background: #d9e5ff; border-radius: 9999px"></div>
                <img style="width: 164.25px; height: 145.19px; left: -15px; top: 0px; position: absolute" src="../../static/base/images2/medical-research-animate.svg" />
            </div>
        </div>
    </div>
    
</body>
</html>