<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Patients Information</title>
        <link rel="stylesheet" href="{% static 'base/project.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    </head>
<body>
    <h2>Patients Information</h2>

    <form method="GET" class="search-container-info">
        {% csrf_token %}
        <div class="search-container">
            <input type="text" placeholder="Search for patients..." id="q" name='q'>
            <button type="submit">Search <i class="fa fa-search"></i></button>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>Action</th>
                <th>Admision</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.PatientID }}</td>
                <td>{{ patient.FullName }}</td>
                <td>{{ patient.DOB }}</td>
                <td>{{ patient.Gender }}</td>
                <td>{{ patient.Address }}</td>
                <td>
                    
                    {% if patient.patient_contactdetails_set.all %}
                        
                        {% for number in patient.patient_contactdetails_set.all %}
                            {{ number.ContactDetails }}
                            
                            {% if not forloop.last %} , {% endif %}
                            

                        {% endfor %}
                            
                    {% else %}
                        No mobile numbers
                    {% endif %}
                        
                    <a href="{% url 'add_patient_mobile' patient.PatientID %}">
                        <i class="fas fa-plus edit-icon"></i>
                    </a>
                </td>
                <td class="action-icons">
                    <a href="{% url 'remove_patient' patient.PatientID %}">
                        <i class="fas fa-trash delete-icon"></i>
                    </a>
                    <a href="{% url 'edit_patient' patient.PatientID %}">
                        <i class="fas fa-edit edit-icon"></i>
                    </a>
                    
                </td>
                <td>
                    <a href="{% url 'add_admission' patient.PatientID %}">
                        <i class="fas fa-plus edit-icon"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Plus sign icon positioned at the bottom right corner of the page -->
    <div class="add-info">
        <a href="{% url 'add_patient' %}">
            <i class="fas fa-plus-circle plus-icon"></i>
        </a>
    </div>
</body>
</html>
