<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
    <link rel="stylesheet" href="{% static 'base/add.css' %}">
</head>
<body>
    <h2>Add Appointment</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="patient_id">Patient Name:</label>
        <input type="text" id="patientname" name="patient_id" list='patient-list' required/>
        <datalist id="patient-list">
            <select id="atient-list" name="patient"required >
                {% for patient in patients %}
                <option value="{{ patient.Name }}">{{ patient.Name }}</option>
                {% endfor %}
            </select>
        </datalist>


        <label for="doctor_name">Doctor's Name:</label>
        <input type="text" id="doctor_name" name="doctor_name" list="doctor-list" required>
        <datalist id="doctor-list">
            {% for doctor in doctors %}
                <option value="{{ doctor.Name }}">{{ doctor.Specialization }}</option>
            {% endfor %}
        </datalist>
        <input type="submit" value="Submit">
    </form>
</body>
</html>